@import url(./__overlay.css/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  margin: 0 auto;
  width: calc(100% - 96px);
  margin-top: 92px;
  background: url(../../images/cover-trains.jpg) no-repeat;
  min-height: 740px;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1279px){
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px){
  .cover {
    margin-top: 88px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px){
  .cover {
    margin-top: 64px;
    min-height: 350px;
  }
}

@media screen and (max-width: 425px){
  .cover {
    margin-top: 64px;
    min-height: 200px;
  }
}

